<div class="pagina pagina-layout-1">
  <div class="produto-foto-wrap">
    <img class="produto-foto" src="{{foto}}" alt="{{nome}}">
  </div>
  <div class="produto-info">
    <div class="produto-codigo">{{codigo}}</div>
    <div class="produto-nome">{{nome}}</div>
    <div class="produto-descricao">{{descricao}}</div>
    <div class="produto-rodape">
      <div class="produto-cor">
        <span class="produto-cor-amostra" style="background-image:url('{{corTextura}}')"></span>
        <span class="produto-cor-nome">{{nomeCor}}</span>
      </div>
      <div class="produto-preco">{{preco}}</div>
    </div>
  </div>
  {{logo}}
</div>
